// snap scrolling
html {
    scroll-snap-type: y mandatory;
}

// Default body font unless changed here
body {
    font-family: "Rammetto One" !important;
}

// Font difference for smaller words
a, p, li {
    font-family: "Calibri" !important;
}

// Create popping effect when hovering over all buttons
a:hover {
    scale: 1.05;
}

::selection {
    background: mix(#ffffff, #6f42c1, 75%);
}

$input-placeholder-color: mix(#ffffff, #9067CC, 20%);

// Override theme colors
$theme-colors: (
    "primary": mix(#ffffff, #9067CC, 20%),
    "secondary": #dee2e6,
    "info": mix(#ffffff, #20c997, 60%),
    "light": #f8f9fa,
    "brown": mix(#ffffff, #462424, 50%),
    "blue": mix(#ffffff, #2e359e, 70%),
    "teal": mix(#ffffff, #7AC6BF, 10%),
    "purple": mix(#ffffff, #9067CC, 40%),
    "magenta": mix(#ffffff, #C13687, 0%),
    "yellow": mix(#ffffff, #ECDF32, 0%)
);

@import '../node_modules/bootstrap/scss/bootstrap.scss';