@import 'node_modules/bootstrap/scss/functions';
@import 'node_modules/bootstrap/scss/variables';
@import 'node_modules/bootstrap/scss/mixins';
@import '../node_modules/bootstrap/scss/_variables.scss';
@import '../node_modules/bootstrap/scss/mixins/_caret.scss';

.imageCard {
    // Card display
    margin-top: -280px;
    text-align: center;
    padding: 4vh;

    // Centering the card
    margin-left: 20%;
    margin-right: 20%;
}

.mainImg {
    pointer-events: none;
}