@import 'node_modules/bootstrap/scss/functions';
@import 'node_modules/bootstrap/scss/variables';
@import 'node_modules/bootstrap/scss/mixins';
@import '../node_modules/bootstrap/scss/_variables.scss';
@import '../node_modules/bootstrap/scss/mixins/_caret.scss';

.mainBodyDiv {
    background-image: linear-gradient(#0a0727, #58268e, #e5cdff);
}

.innerCard {
    scroll-snap-align: center;
}

.placeholderScroll {
    margin-bottom: 10svh;

    // this is cheating right here, haha
    border: 1px solid transparent;

    scroll-snap-align: start;
}