.threeBlock {
    margin-bottom: 100vh !important;

    width: 80%;
    height: fit-content(70%);

    scroll-snap-align: center;

    img {
        pointer-events: none;
    }
}


.topThreeBlock {
    margin-bottom: 100vh !important;

    width: 80%;
    height: fit-content(70%);

    scroll-snap-align: center;

    img {
        pointer-events: none;
    }
}

.innerBlock {
    opacity: 0;
}

// leftBlock and rightBlock are both animation classes

@media (prefers-reduced-motion: no-preference) {
    .leftBlock {
        position: relative;
        animation: enterScreenLeft 2.5s;
        animation-timing-function: ease;
        animation-fill-mode: forwards;
        animation-iteration-count: 1;
    }
}

@media (prefers-reduced-motion: no-preference) {
    .rightBlock {
        position: relative;
        animation: enterScreenRight 2.5s;
        animation-timing-function: ease;
        animation-fill-mode: forwards;
        animation-iteration-count: 1;
    }
}

@media (prefers-reduced-motion: no-preference) {
    .centerBlock {
        position: relative;
        animation: enterScreenRight 2.5s;
        animation-timing-function: ease;
        animation-fill-mode: forwards;
        animation-iteration-count: 1;
    }
}

@keyframes enterScreenLeft {
    from{left: 2vh; opacity: 0.1};
    to{left: 0px; opacity: 1};
}

@keyframes enterScreenRight {
    from{left: -2vh; opacity: 0.1};
    to{left: 0px; opacity: 1};
}